.flex {
    display: flex;
}

#sec1 img {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    width: 500px;
    height: 558px;
    border-radius: 20px;
}

#mn h2 {
    font-size: 30px;
    text-align: center;
}

.dd1 {
    width: 150px;
    height: 100px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}

.dv1 {

    justify-content: center;
}

.d11 {
    background-color: rgb(234, 245, 255);
    border: 2px solid rgb(228, 238, 246);
}

.d12 {
    background-color: rgb(255, 232, 229);
    border: 2px solid rgb(255, 207, 208);
}

#d13 {
    background-color: rgb(200, 247, 204);
    border: 2px solid rgb(180, 232, 184);
}

.boxtext {
    margin-top: 35px;
    font-size: 20px;
    font-weight: bold;
}

.s2,
.s3,
.s4 {
    font-size: 20px;
    font-weight: bold;
    color: rgb(9, 99, 129);
}

.s1 {
    font-size: 30px;
}

.s2,
#btx2,
#btx5 {
    color: rgb(228, 78, 78);
}

.s3,
#btx3 {
    color: green;
}

.s4 {
    font-size: 15px;
}

#btx1,
#btx4 {
    color: rgb(9, 99, 129);
}

#opt {
    width: 230px;
    padding: 16px 32px;
    margin-top: 15px;
    margin-left: 130px;
    border-radius: 20px;
    background: transparent;
    background-color: white;
    border: 1px solid gray;
}

#link {
    font-size: 25px;
    font-weight: bold;
    color: rgb(9, 99, 129);
    text-align: center;
    margin-top: 30px;
    text-decoration: none;
}

#link a {
    text-decoration: none;
}

.circle {
    margin-top: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    animation: loader 1.5s linear infinite;
}

@keyframes loader {
    0% {
        transform: none;
    }

    100% {
        transform: rotate(360deg);
    }
}

#circle1,
#circle4 {
    border: 10px solid rgb(145, 185, 222);
    border-top: 10px solid rgb(64, 108, 144);
}

#circle2,
#circle5 {
  
    border: 10px solid rgba(204, 87, 87, 0.368);
    border-top: 10px solid rgb(86, 39, 39);
}

#circle3 {
    border: 10px solid rgba(160, 239, 156, 0.368);
    border-top: 10px solid rgb(24, 193, 100);
}


@media screen and (max-width:500px) {
    .flex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #sec1 img{
        width: 100%;
    }
    #country{
        width: 100%;
        font-size: 25px;
    }
    #sec1 #mn #opt{
        margin-left: 70px;
    }
    #sec1 #mn #link{
        width: 100%;
    }
}

/* #btnReset{
    background: transparent;
    background-color: black;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-left: 200px;
    border: 1px solid darkcyan;
    border-radius: 10px;
} */

/* #mn p{
    text-align: center;
    font-size: 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
} */